<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05.03 Doel | Documenten</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05.03 Doel | Documenten</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c41f7904dc7045b485ca5705f00f473e.png" alt="05.03 Doel | Documenten" usemap="#id-c41f7904dc7045b485ca5705f00f473emap"/>
			   <map name="id-c41f7904dc7045b485ca5705f00f473emap">
				  		<area shape="rect" coords="53,508,246,589" href="../elements/id-b121f93a3e364fdeb0f5fc2712d1ccfc.html"  target="element">
				  		<area shape="rect" coords="468,277,669,332" href="../elements/id-3cfa3a094f7942358d4de296e8524676.html"  target="element">
				  				<area shape="rect" coords="539,543,659,580" href="../elements/id-b1bff61847ca4d5f9c0708e9591b2f9e.html"  target="element">

				  		<area shape="rect" coords="503,507,687,591" href="../elements/id-238f54a56daa43c3a366e303b8b34855.html"  target="element">
				  				<area shape="rect" coords="310,536,430,580" href="../elements/id-4fc5d63ea1c04fdb958a14a743e3041b.html"  target="element">

				  		<area shape="rect" coords="280,507,461,591" href="../elements/id-a229c0f21ea84154a767ab1ca6696021.html"  target="element">
				  		<area shape="rect" coords="738,368,858,476" href="../elements/id-579eab40cecd4fab981d707e96f0c9d6.html"  target="element">
				  		<area shape="rect" coords="53,277,246,332" href="../elements/id-f4e683b904074072b984098182c6f78f.html"  target="element">
				  		<area shape="rect" coords="53,381,687,463" href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html"  target="element">
				  		<area shape="rect" coords="232,10,451,65" href="../elements/id-fe4131e92ce3462eab91322a0716b53e.html"  target="element">
				  		<area shape="rect" coords="232,106,451,198" href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html" target="element"> TrueLogic </a> </td>
											    <td> <a href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe4131e92ce3462eab91322a0716b53e.html" target="element"> TrueLogic UI </a> </td>
											    <td> <a href="../elements/id-fe4131e92ce3462eab91322a0716b53e.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
											    <td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4e683b904074072b984098182c6f78f.html" target="element"> Doc API-function </a> </td>
											    <td> <a href="../elements/id-f4e683b904074072b984098182c6f78f.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-579eab40cecd4fab981d707e96f0c9d6.html" target="element"> Documenten </a> </td>
											    <td> <a href="../elements/id-579eab40cecd4fab981d707e96f0c9d6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a229c0f21ea84154a767ab1ca6696021.html" target="element"> RDMBS  </a> </td>
											    <td> <a href="../elements/id-a229c0f21ea84154a767ab1ca6696021.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4fc5d63ea1c04fdb958a14a743e3041b.html" target="element"> Postgres </a> </td>
													    <td> <a href="../elements/id-4fc5d63ea1c04fdb958a14a743e3041b.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-238f54a56daa43c3a366e303b8b34855.html" target="element"> Object storage </a> </td>
											    <td> <a href="../elements/id-238f54a56daa43c3a366e303b8b34855.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b1bff61847ca4d5f9c0708e9591b2f9e.html" target="element"> MinIO? </a> </td>
													    <td> <a href="../elements/id-b1bff61847ca4d5f9c0708e9591b2f9e.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3cfa3a094f7942358d4de296e8524676.html" target="element"> Doc API-resource </a> </td>
											    <td> <a href="../elements/id-3cfa3a094f7942358d4de296e8524676.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b121f93a3e364fdeb0f5fc2712d1ccfc.html" target="element"> PDF-rendering </a> </td>
											    <td> <a href="../elements/id-b121f93a3e364fdeb0f5fc2712d1ccfc.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-295aa47f9d1743b48ec655f17c2e90be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-295aa47f9d1743b48ec655f17c2e90be.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html" target="element"> TrueLogic </a> </td>
																		<td> <a href="../elements/id-fe4131e92ce3462eab91322a0716b53e.html" target="element"> TrueLogic UI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da8286742ba143bfaf63a0803f1fca9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da8286742ba143bfaf63a0803f1fca9c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																		<td> <a href="../elements/id-f4e683b904074072b984098182c6f78f.html" target="element"> Doc API-function </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-317bc91919154f8fbcb38265e98a56a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-317bc91919154f8fbcb38265e98a56a4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																		<td> <a href="../elements/id-579eab40cecd4fab981d707e96f0c9d6.html" target="element"> Documenten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b85e66905d2a4c5e8a9e00b7b1a2513f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b85e66905d2a4c5e8a9e00b7b1a2513f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																		<td> <a href="../elements/id-3cfa3a094f7942358d4de296e8524676.html" target="element"> Doc API-resource </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30dfc82600b64b9ea18dbe8c56a813d3.html" target="element"> administreer een document  / maak pdf </a> </td>
																		<td> <a href="../elements/id-30dfc82600b64b9ea18dbe8c56a813d3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4e683b904074072b984098182c6f78f.html" target="element"> Doc API-function </a> </td>
																		<td> <a href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html" target="element"> TrueLogic </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-571c3ca699e7421b9b0fb9cf914e9fb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-571c3ca699e7421b9b0fb9cf914e9fb7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a229c0f21ea84154a767ab1ca6696021.html" target="element"> RDMBS  </a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-19f7bba520b748c88836803c55f51ce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19f7bba520b748c88836803c55f51ce7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fc5d63ea1c04fdb958a14a743e3041b.html" target="element"> Postgres </a> </td>
																				<td> <a href="../elements/id-a229c0f21ea84154a767ab1ca6696021.html" target="element"> RDMBS  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-53677f4671ee4fe7ac2b43cc6a3e20e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53677f4671ee4fe7ac2b43cc6a3e20e7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-238f54a56daa43c3a366e303b8b34855.html" target="element"> Object storage </a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f93ed7a3d63b426abff794ff1a11cfa4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f93ed7a3d63b426abff794ff1a11cfa4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b1bff61847ca4d5f9c0708e9591b2f9e.html" target="element"> MinIO? </a> </td>
																				<td> <a href="../elements/id-238f54a56daa43c3a366e303b8b34855.html" target="element"> Object storage </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-45437de1d2a643109007ab3602802545.html" target="element"> geef document </a> </td>
																		<td> <a href="../elements/id-45437de1d2a643109007ab3602802545.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cfa3a094f7942358d4de296e8524676.html" target="element"> Doc API-resource </a> </td>
																		<td> <a href="../elements/id-b30b418328e04a1f942e2eab6906da3f.html" target="element"> TrueLogic </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d99c261c2bc643b2bb51735a38df02e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d99c261c2bc643b2bb51735a38df02e3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b121f93a3e364fdeb0f5fc2712d1ccfc.html" target="element"> PDF-rendering </a> </td>
																		<td> <a href="../elements/id-29291f43e0da46ac86a4315296f69fc1.html" target="element"> TLX-doc </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>